body{
    background-color: rgb(160, 36, 36);
}
p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3em;
    margin: 20px;
}
.buttons{
    border-radius: 10px;
    background-color: rgb(235, 100, 100);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
button{
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}
button:hover{
    color: rgb(187, 47, 47);
}
img{
    width: 360px;
    height: auto;
    border: 30px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}    
.Image{
    display: flex;
    justify-content: center;
    align-items: center;
}